<br>
<ul>
    <li>
        <a href="/home">Home</a>
    </li>
    {{#if usuario}}
    <li>
        <a href="/api/sessions/logout">Logout</a>
    </li>
    {{/if}}
    <li>
        <a href="/registro">Registro</a>
    </li>
    <li>
        <a href="/">Login</a>
    </li>
</ul>